h1 {
    background-color: #e0ebee;
    padding: 2%;
    font-size: 150%;
    text-align: center;
}

form {
    padding: 2%;
    color: white;
}
main{
    margin: 5% 8%;
    background-color: #33535c;
    border-radius: 20px;
}
footer{
    background-color: #e0ebee;
    padding: 2%;
    text-align: center;
    color: rgb(214, 212, 212);
}
