h1 {
    color: #f8f246;
    font-size: 1.5em;
  }

  #collum{
    display: flex;
    flex-direction: column;
  }
  article {
    width: 100%;
    padding: 0%;
  }
  div{
    padding: 5%;
    font-size: 1em;
    border-radius: 0px;
  }
  main {
    width: 100%;
  }
  h2 {
    font-size: 1.5em;
  }

  img {
    width: 100px;
 }
 figcaption {
    font-size: 0.9em;
    padding: 2%;
    margin-top: 3%;
 }